# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.StarWing.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Ash Blade\source\repos\StarWing\.idea\.idea.StarWing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
